#templatemo_banner_wrapper
  #templatemo_banner
    #templatemo_banner_slider
      #one.contentslider
        .cs_wrapper
          .cs_slider
            .cs_article
              .slider_content_wrapper
                = render 'partials/slider_content'
                = render 'partials/slider_image'
            / End cs_article
            .cs_article
              .slider_content_wrapper
                .slider_content
                  %h2 Aliquam in ligula turpis
                  %p Nam ullamcorper feugiat leo, at aliquet enim varius id. Aenean gravida tellus sed velit vulputate sed ultricies arcu volutpat. Sed vel odio dui, vel vehicula orci. Nam volutpat imperdiet sollicitudin. Aliquam tempus convallis quam sed venenatis. Sed tempus dapibus velit non blandit.
                  .more
                    %a{href: "#"} More...
                .slider_image
                  = image_tag 'templatemo_image_05.jpg',alt: "Artist's interpretation of article headline"
            / End cs_article
            .cs_article
              .slider_content_wrapper
                .slider_content
                  %h2 Etiam erat vel suscipit
                  %p Nam ullamcorper feugiat leo, at aliquet enim varius id. Aenean gravida tellus sed velit vulputate sed ultricies arcu volutpat. Sed vel odio dui, vel vehicula orci. Nam volutpat imperdiet sollicitudin. Aliquam tempus convallis quam sed venenatis. Sed tempus dapibus velit non blandit.
                  .more
                    %a{href: "#"} More...
                .slider_image
                  = image_tag 'templatemo_image_06.jpg',alt: 'Artist s interpretation of article headline'
            / End cs_article
            .cs_article
              .slider_content_wrapper
                .slider_content
                  %h2 Sed porta consectetur turpis
                  %p Pellentesque lacinia augue non sem tincidunt varius. Integer vulputate nulla non tellus pharetra gravida. Vivamus blandit auctor elit at ultricies. Integer pulvinar tincidunt ullamcorper. Morbi ornare neque ac eros vestibulum sit amet sodales nulla feugiat.
                  .more
                    %a{href: "#"} More...
                .slider_image
                  = image_tag 'templatemo_image_03.jpg',alt: 'Artists interpretation of article headline'
            / End cs_article
          / End cs_slider
        / End cs_wrapper
      / End contentslider
      / Site JavaScript
      %script{src: "js/jquery-1.3.1.min.js", type: "text/javascript"}
      %script{src: "js/jquery.easing.1.3.js", type: "text/javascript"}
      %script{src: "js/jquery.ennui.contentslider.js", type: "text/javascript"}
      :javascript
        $(function() {
        $('#one').ContentSlider({
        width : '960px',
        height : '250px',
        speed : 400,
        easing : 'easeOutSine'
        });
        });
      %script{src: "js/jquery.chili-2.2.js", type: "text/javascript"}
      %script{src: "js/chili/recipes.js", type: "text/javascript"}
      .cleaner