!!!
%html{xmlns: "http://www.w3.org/1999/xhtml"}
  = render 'partials/head'    
  %body
    = render 'partials/site_title_bar'
    / end of templatemo_site_title_bar
    / end of templatemo_site_title_bar_wrapper
    = render 'partials/templatemo_banner'
     
    = render 'partials/templatemo_menu'
    = render 'partials/main_body_content'
    = render 'partials/footer_contents'
    %div{align: "center"}
      This template  downloaded form
      %a{href: "http://all-free-download.com/free-website-templates/"} free website templates
